# Config parsing:
confini==0.6.5

# HTML parsing:
beautifulsoup4==4.13.3

# Key signing:
bech32==1.2.0
coincurve==21.0.0

# Checking image type for Imgur uploading:
pillow==9.0.0
pillow-avif-plugin==1.5.2

# Imgur image uploading:
requests==2.31.0

# Relay communication:
websocket-client==1.8.0

# HTML to Markdown converter:
html-to-markdown==1.2.1
